*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.nav{
    gap: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: #939393;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 2px 3px 3px 3px #696868;
    width:  1500px;
    height:  150px;
}
.nav__info:hover{
    color: red;
    font-size: 30px;
}
.nav__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    color: black;
    transition: 0.5s;
}
.info{
   background-image: url(photo_2024-09-25_20-25-04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 15px;
  
}

.item{
padding-left: 80px;
padding-top: 70px;
}
.nav img{
    margin-top: 20px;
}
h2{
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    width: 332px;
    height: 119px;
    transition: 0.5s;
}
h2:hover{
    color: red;
    background-color: yellow;
    text-shadow: 2px 3px 3px white;
    border-radius: 40px;
}
p{
font-size: 16px;
font-family: "Rubik", sans-serif;
color: #696868;
width: 314px;
height: 76px;
}
button{
    background-color: #3FA5D5;
    width: 211px;
    height: 33px;
    border-radius: 32px;
    border: none;
    margin-top: 30px;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 400px;
    font-size: 16px;
}
.lorem{
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400px;
    font-family: "Rubik", sans-serif;
    width: 795px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    box-shadow: 2px 3px 3px 3px #939393;
    transition: 0.5s;

}
.lorem:hover{
    background-color: aqua;
    color: black;
    border-radius: 50px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400px;
    font-family: "Rubik", sans-serif;
    width: 300px;
    height: 110px;
   margin-left: 1100px;
   box-shadow: 2px 3px 3px 3px #939393;
   padding-top: 10px;
}
.marketing{
    background-color: #3FA5D5;
    width: 1520px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.all{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 800px;
}
.market{
    color: white;
    font-size: 50px;
    font-weight: 700px;
    font-family: "Rubik", sans-serif;
}
.number{
    color: white;
    font-size: 18px;
    font-weight: 700px;
    font-family: "Rubik", sans-serif;
}
.box{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400px;
    font-family: "Rubik", sans-serif;
    width: 255px;
    height: 360px;
   padding-left: 30px;
   box-shadow: 2px 3px 3px 3px #939393;
   padding-top: 10px;
}


.img__header{
    margin-top:100px ;
}
b{
    color: #2A86B1;
    font-size: 20px;
    font-weight: 700px;
    font-family: "Rubik", sans-serif;
}
.dolor{
    font-size: 17px;
    color: #323232;
    padding-left: 40px;
}